<ul id="post-list">
    {% for post in paginator.posts %}
        <li>
            <a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}"><aside class="dates"><i class="fa fa-calendar-check-o"></i>{{ post.date | date:"%b %d" }}</aside></a>
            <a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}">{{ post.title }} <h2><i class="fa fa-commenting-o"></i>{{ post.description }}</h2></a>
        </li>
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}